<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1 class="headline large">Details</h1><p></p>
    
    <table style="width:100%;">
        <tr>
            <td class=alternate width=60%>
                <h1 style="font-size:40px">Saturday August 8th, 2015</h1>
                <p></p>
                <h2>Ceremony Information</h2>
                Time: 5:30 pm
                <p></p>
                <h2>Location</h2>
                
                The Armory
                <br>128 NW 11th Ave
                <br>Portland, OR 97209
                
                <p></p>
                <h2>Parking</h2>
                
                <h3>Brewery Blocks/Whole Foods Underground Parking Garage:</h3>
                There are two entrances to this lot: NW Twelfth Avenue or  NW Thirteenth Avenue, between Couch and Davis Streets.
                The elevators take you into the M Financial Building lobby (just around the corner from the Armory) or into Whole
                Foods on the corner of Couch and NW Twelfth Avenue.<br>
                <a href='http://www.breweryblocks.com/parking/'>More info about this lot</a><p></p>
                
                <h3>City Center Pearl Auto Park:</h3>
                This is the closest lot to the venue and is located at 1111 NW Davis Street.<br>
                <a href='https://www.parkme.com/lot/52497/pearl-auto-park-portland-or'>More info about this lot</a><p></p>

                    
                <p></p>    
                <h2>Attire</h2>
                Formal wear or Barong Tagalog requested
                <p></p>
            
                <h2>Reception Information</h2>
                Immediately following the ceremony
                <p></p>
                
                <h2>Photo Sharing</h2>
                <h4>Instagram - #peughveras8815</h4>
                <h4>Photo Circle</h4>
                <% if request.user_agent.downcase.include? "ios" %>
                    <a href='https://itunes.apple.com/us/app/photocircle/id517539894?mt=8'>Photo Circle App</a>
                <% else %>
                    TEST
                <% end %>
                <h2>Registry Information</h2>
                Password: Pdx8815 (case sensitive)<p></p>
                
                <%= link_to 'Honey Fund', @honey_url, :target => "_blank" %><br>
                <%= link_to 'MyRegistry.com', @registry_url, :target => "_blank" %>
                <%# link_to 'Glassy Baby', @glassybaby_url, :target => '_blank' %>
                <p></p>
                
            </td>
            <td class=alternate>
                <%= image_tag 'armory1.jpg', height: 480, width: 325, :class => 'armory' %>  
            </td>
        </tr>
    </table>
   
</div>

<p></p>

<div class="row center">
    <h1>Questions?</h1><p></p>
        <div class="span8">
        <h3>Eimee</h3>
        <ul style="list-style-type: none;">
            <li>Tel: 206-240-9216</li>
            <li>Email: eimee.daron@gmail.com</li>
        </ul>
    </div>

    <div class="span8">
        <h3>Daron</h3>
        <ul style="list-style-type: none;">
            <li>Tel: 425-422-7853</li>
            <li>Email: eimee.daron@gmail.com</li>
        </ul>
    </div>
</div>
<p></p>
<center>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.299711918988!2d-122.68164460000004!3d45.52417399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54950a02369a5b67%3A0xe43f785badcbd711!2s128+NW+11th+Ave%2C+Portland%2C+OR+97209!5e0!3m2!1sen!2sus!4v1420688868379" width="600" height="480" frameborder="0" style="border:0"></iframe>
</center>
<br />
<br />


