require 'instagram'




<div class="hero-unit">
    <h1 class="headline large">#hashtag</h1>
    
    
    <iframe src="http://snapwidget.com/in/?h=c2VhaGF3a3N8aW58MTI1fDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=240115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:390px; height:390px"></iframe>

</div>

