




<div class="hero-unit">
    <h1 class="headline large">#hashtag</h1>
    
    <%= image_tag @me[0].profile_picture %>
    
    <% x = 0 %>
    <% while x < 5 %>
        <%= image_tag @sea[x].images.standard_resolution.url %><br>
        <% x += 1 %>
    <% end %>
    
    <%= @pop %>
    
</div>

